{{>/layout/header}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-container">
    현재페이지 번호:{{posts.number}}<br />
    첫 페이지: {{posts.first}}<br />
    마지막 페이지:{{posts.last}}<br />
    {{#posts}}
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <a href="/post/{{id}}" class="btn btn-dark">상세보기</a>
        </div>
    </div>
    {{/posts}}
    <!-- 게시글 아이템 끝 -->

    <ul class="pagination justify-content-center">
        {{#posts.first}}
        <li class="page-item disabled"><a class="page-link" href="?page={{prevPage}}">이전</a></li>
        {{/posts.first}}
        {{^posts.first}}
        <li class="page-item"><a class="page-link" href="?page={{prevPage}}">이전</a></li>
        {{/posts.first}}
        {{#posts.last}}
        <li class="page-item disabled"><a class="page-link" href="?page={{nextPage}}">다음</a></li>
        {{/posts.last}}
        {{^posts.last}}
        <li class="page-item"><a class="page-link" href="?page={{nextPage}}">다음</a></li>
        {{/posts.last}}
    </ul>

</div>
</div>
</div>

<!-- 컨테이너 끝 -->

{{>/layout/footer}}